/* main page */

/* nav bar */
#fs-nav > div > div.bg-white.border-bottom.z4 > div > div {
	background-color: #fff;
}

/* nav bar links*/
#nav-directive-row > a:nth-child(3) {
	color: #33383c;
}

#nav-directive-row > a:nth-child(4) {
	color: #33383c;
}

#nav-directive-row > a:nth-child(5) {
	color: #33383c;
}

#support-nav-dropdown > a > span {
	color: #33383c;
}

/* entire page */
#fs-content > ui-view {
	background-color: #fff;
}

/* title */
#workshops-header-container > h2 {
	color: #33383c;
}

/* individual workshops in main page*/
#fs-content
	> ui-view
	> ui-view
	> div
	> div
	> div.flex.flex-wrap.ng-scope.ng-isolate-scope
	> react-component
	> div
	> div {
	background-color: #fff;
	color: #33383c;
}

/* individual workshops titles in main page*/
#fs-content
	> ui-view
	> ui-view
	> div
	> div
	> div.flex.flex-wrap.ng-scope.ng-isolate-scope
	> react-component
	> div
	> div
	> p.mt2.mb1.px2.medium.m0.black {
	color: #33383c;
}

/* inside individual workshops */
#workshop-container {
	background-color: #fff;
}

#fs-action > div {
	background-color: #fff;
}

#fs-action > div > div.action-content.ng-scope > h1 {
	color: #43484d;
}

/* #fs-action > div > div.action-content.ng-scope > action-body > div */
#fs-action > div > div.action-content.ng-scope > action-body > div {
	color: #62656f;
}

/* lesson link thing at top */
#fs-action > div > nav > ul > li.active > a {
	color: #333333;
}

/* page section titles */
#fs-action > div > div.action-content.ng-scope > action-body > div > h1 {
	color: #c9d0d6;
}

#fs-action > div > div.action-content.ng-scope > action-body > div > ul > li > ul > li > span > code {
	color: #111;
}

/* hint boxes */
#fs-action > div > div.action-content.ng-scope > action-body > div > hint > div > div {
	background-color: #f4f7f9;
	color: #62656f;
}

/* highlighted words */
#fs-action > div > div.action-content.ng-scope > action-body > div > p > span > code {
	background-color: #eeeeee;
	color: #62656f;
}

#fs-action
	> div
	> div.action-content.ng-scope
	> action-body
	> div:nth-child(2)
	> p:nth-child(1)
	> span:nth-child(2)
	> code {
	background-color: #eeeeee;
	color: #62656f;
}

#fs-action
	> div
	> div.action-content.ng-scope
	> action-body
	> div:nth-child(2)
	> p:nth-child(1)
	> span:nth-child(2)
	> code {
	background-color: #eeeeee;
	color: #62656f;
}

/* code boxes */
#fs-action > div > div.action-content.ng-scope > action-body > div > span > pre {
	background-color: #3a4246;
	color: #2a3035;
}

/* code boxes text */
#fs-action > div > div.action-content.ng-scope > action-body > div > span > pre > code {
	background-color: #3a4246;
}
